<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>

  <div th:insert="navbar :: navbar"></div>
  <div class="container-fluid">
    <div class="container-fluid">
      <h1>ToDoList</h1>
      <ul>
        <li>Desarrollada por Equipo 15: </li>
        <li>Sergio Baeza Carrasco</li>
        <li>Eugenio Benito López</li>
        <li>Álvaro Lario Sánchez</li>
        <li>Versión 1.4.0</li>
        <li>Fecha de release: 20/12/2022</li>
        <li>Usuarios registrados: <span th:text="${numberUser}"></span></li>
        <li>Tareas registradas: <span th:text="${numberTask}"></span></li>
        <li>Equipos registrados: <span th:text="${numberTeam}"></span></li>
      </ul>
    </div>

  </div>


  <div th:replace="fragments::javascript" />

</body>

</html>