<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>

<div th:insert="navbar :: navbar"></div>
<div class="container-fluid">
  <div class="container-fluid">
    <h1>ToDoList</h1>
    <ul>
      <li>Desarrollada por Equipo 15: </li>
	  <li>Sergio Baeza Carrasco</li>
	  <li>Eugenio Benito López</li>
    <li>Versión 1.3.0-SNAPSHOT</li>
      <li>Fecha de release: en desarrollo</li>
    </ul>
  </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>