<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Detalles del equipo')"></head>

<body>
<div th:insert="navbar :: navbar"></div>
<div class="container-fluid">

    <h2>Detalles del equipo</h2>


    <div class="col-6">
        <div>
            <b>Id: </b> <th:block th:text="${equipo.id}" />
        </div>
        <div>
            <b>Nombre: </b> <th:block th:text="${equipo.nombre}" />
        </div>
        <div>
            <th:block th:if="${usuario.perteneceEquipo(equipo)}">
                <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                        th:onclick="'del(\'/equipos/' + ${equipo.id} + '/usuarios/' + ${usuario.id} + '\')'">Abandonar</button>
            </th:block>
            <th:block th:unless="${usuario.perteneceEquipo(equipo)}">
                <form method="post" th:action="@{/equipos/{equipoId}/usuarios/{usuarioId}(equipoId=${equipo.id}, usuarioId=${usuario.id})}">
                    <button class="btn btn-success" type="submit">Unirse</button>
                </form>
            </th:block>
            <br />
            <b>Usuarios: </b> <br />
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${usuarios.size() == 0}">
                    El equipo no tiene usuarios que le pertenecen
                </th:block>
                <tr th:each="usuarioEquipo: ${usuarios}">
                    <td th:text="${usuarioEquipo.id}"></td>
                    <td th:text="${usuarioEquipo.nombre}"></td>
                    <td th:text="${usuarioEquipo.email}"></td>
                    <td th:if="${usuario.isAdmin}">
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                th:onclick="'del(\'/equipos/' + ${equipo.id} + '/usuarios/' + ${usuarioEquipo.id} + '\')'">Eliminar del equipo</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }
</script>


</body>
</html>