<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Detalles del equipo')"></head>

<body>
<div th:insert="navbar :: navbar"></div>
<div class="container-fluid">

    <h2>Detalles del equipo</h2>


    <div class="col-6">
        <td th:if="${usuario == equipo.admin}">
            <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                    th:onclick="'del(\'/equipos/' + ${equipo.id} + '\')'">Eliminar equipo</button>

            <a class="btn btn-warning btn-xs"
               th:href="@{/equipos/{equipoId}/editar(equipoId=${equipo.id})}">Editar</a>
        </td>
        <div>
            <b>Id: </b> <th:block th:text="${equipo.id}" />
        </div>
        <div>
            <b>Administrador: </b> <th:block th:if="${equipo.admin != null}" th:text="${equipo.admin.getNombre()}" />
        </div>
        <div>
            <b>Nombre: </b> <th:block th:text="${equipo.nombre}" />
        </div>
        <div>
            <b>Descripción: </b> <th:block th:text="${equipo.descripcion}" />
        </div>
        <div>
            <th:block th:if="${usuario.perteneceEquipo(equipo)}">
                <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                        th:onclick="'del(\'/equipos/' + ${equipo.id} + '/usuarios/' + ${usuario.id} + '\')'">Abandonar</button>
            </th:block>
            <th:block th:unless="${usuario.perteneceEquipo(equipo)}">
                <form method="post" th:action="@{/equipos/{equipoId}/usuarios/{usuarioId}(equipoId=${equipo.id}, usuarioId=${usuario.id})}">
                    <button class="btn btn-success" type="submit">Unirse</button>
                </form>
            </th:block>
            <br />
            <b>Usuarios: </b> <br />
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${usuarios.size() == 0}">
                    El equipo no tiene usuarios que le pertenecen
                </th:block>
                <tr th:each="usuarioEquipo: ${usuarios}">
                    <td th:text="${usuarioEquipo.id}"></td>
                    <td th:text="${usuarioEquipo.nombre}"></td>
                    <td th:text="${usuarioEquipo.email}"></td>
                    <td th:if="${(usuario.isAdmin || usuario == equipo.admin) && usuarioEquipo != usuario}">
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                th:onclick="'del(\'/equipos/' + ${equipo.id} + '/usuarios/' + ${usuarioEquipo.id} + '\')'">Eliminar del equipo</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br />
            <br />
            <b>Proyectos: </b> <br />
            <div id="proyectos">
                <a class="btn btn-primary btn-xs" onmouseover="" style="cursor: pointer;"
                        th:href="@{/equipos/{id}/proyectos/nuevo(id=${equipo.id})}">Añadir un nuevo proyecto</a>
                <br />

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${equipo.proyectos.size() == 0}">
                        El equipo no tiene proyectos que le pertenecen
                    </th:block>
                    <tr th:each="proyecto: ${equipo.proyectos}">
                        <td th:text="${proyecto.id}"></td>
                        <td th:text="${proyecto.nombre}"></td>
                        <td><a class="btn btn-primary btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:href="@{/proyecto/{id}(id=${proyecto.id})}">Ver detalles del proyecto</a>
                            <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:onclick="'del(\'/equipos/' + ${equipo.id} + '/proyectos/' + ${proyecto.id} + '\')'">Eliminar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br />

            <div id="comentarios">
                <br \>
                <br \>

                <span><b>Comentarios</b></span>
                <div class="container" id="form">
                    Añadir un nuevo comentario <br \>
                    <th:block th:if="${equipo.comentariosEquipo.contains(usuario) || usuario == equipo.admin || usuario.isAdmin}">
                        <form method="post"  th:action="@{/equipos/{equipoId}/comentarios(equipoId=${equipo.id})}" th:object="${comentarioEquipoData}">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Comentario:</label>
                                    <input class="form-control" id="nombre" name="nombre" required th:field="*{comentario}" type="text"/>
                                </div>
                                <button class="btn btn-success" type="submit">Enviar comentario</button>
                            </div>
                        </form>
                    </th:block>
                </div>
            </div>
            Comentarios del proyecto:
            <th:block th:if="${equipo.comentariosEquipo == null || equipo.comentariosEquipo.size() == 0} " >No existen comentarios en el equipo actualmente</th:block>
            <div class="card" th:each="comentario: ${equipo.comentariosEquipo}" style="margin-top:10px">
                <div class="card-header">
                    <th:block th:text="${comentario.usuario.nombre}" /> - <th:block th:if="${comentario.usuario == equipo.admin}" th:text="ADMIN" /> dijo...
                    <button th:if="${usuario == equipo.admin}" class="btn btn-sm btn-danger btn-xs float-right" onmouseover="" style="cursor: pointer;"
                            th:onclick="'del(\'/equipos/' + ${equipo.id} + '/comentarios/' + ${comentario.id} + '\')'">Eliminar comentario</button>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><th:block th:text="${comentario.comentario}" /></p>
                        <footer class="blockquote-footer">El <th:block th:text="${comentario.fecha}" /></footer>
                    </blockquote>
                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.href = '/equipos');
        }
    }
</script>


</body>
</html>