<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/about}"><strong>ToDoList</strong></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <th:block th:text="${usuario.getNombre()}" />
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/account}">Cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/logout}">Cerrar sesion <th:block th:text="${usuario.getNombre()}" /></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/usuarios/{id}/tareas(id=${session.idUsuarioLogeado})}">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/equipos}">Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/mis-equipos}">Mis Equipos</a>
      </li>
      <li th:if="${usuario.isAdmin}" class="nav-item">
        <a class="nav-link" th:href="@{/registrados}">Registrados</a>
      </li>
    </ul>
    <div th:if="${invitaciones != null}" class="navbar-nav dropleft ml-auto">
      <a style="appearance: none;" class="me-3 hidden-arrow" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <span class="badge badge-light badge-notification" th:text="${invitaciones.size()}"></span>
      </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <th:block th:each="invitacion: ${invitaciones}">
          <li style="list-style: none;">
            <div style="display: flex;">
              <a style="flex: 1;" class="dropdown-item">Te han invitado al equipo <strong th:text="${invitacion.value}"></strong></a>
              <button class="btn btn-outline-success" style="display: inline-block; width: 30px; height: 30px; margin-right: 5px;" th:onclick="'aceptInvitacion(\'/invitacion/' + ${invitacion.key.getId()} + '\')'"></button>
              <button class="btn btn-outline-danger" style="display: inline-block; width: 30px; height: 30px; margin-right: 10px;" th:onclick="'deleteInvitacion(\'/invitacion/' + ${invitacion.key.getId()} + '\')'"></button>              
            </div>
          </li>          
        </th:block>


            <div style="padding: 5px">
              <div><b>Tareas para hoy:</b></div>
              <th:block th:each="tarea: ${usuario.tareas}">
                <th:block th:if="${tarea.isToday()}">
                  <div>- <th:text="${tarea.titulo}" /></div>
                </th:block>
              </th:block>
            </div>
          </ul>
    </ul>
    </div>
  </div>
</nav>